#description {

}

#title {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#buttonTitle {
    padding-bottom: 10px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.algo-description {
    font-size: 12px;
}

#controls {
    /* padding-right: 20px; */
    /* min-width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modelButtons {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    /* margin-top: 10px; */
    /* margin-bottom:  15px; */
}

#buttonTitle {
    font-size: 20px;
}

.model-input {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

canvas[resize] {
    width: 70%;
    height: 100%;
}

canvas {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.model-input {
    display: none;
}

#model-inputs {
    margin-bottom: 20px;
    max-width: 400px;
}

.param-label {
    padding-right: 10px;
}

.param-box {
    padding-top: 10px;
}

body {
    margin: 0px;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* overflow: hidden; */
}

html {
    height: 100%;
}

#canvasDiv {
    display: flex;
    /* justify-content: center; */
}